In [74]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
import pandas as pd

In [3]:
df = pd.read_csv('UpdatedEnrollmentDataFrame.csv')

In [129]:
df.describe()

,Reference ID,Tests - GMAT Total,GPA (Recalculated),GPA (Converted),Age,Intend to apply for financial aid,Applications Registered in Colleague,Tier Number,Scholarship Amount
count,1.030000e+04,650.000000,2178.000000,4907.000000,10300.000000,10300.000000,10300.000000,3562.000000,3562.000000
mean,4.673743e+08,569.267692,3.329802,3.254716,30.406990,0.393107,0.135534,1.220943,1465.131948
std,2.986311e+08,102.050302,2.097933,0.471010,7.384032,0.488464,0.342310,2.129553,2555.463358
min,1.836600e+04,54.000000,1.562000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,1.877443e+08,512.500000,3.000000,3.000000,25.000000,0.000000,0.000000,0.000000,0.000000
50%,4.577679e+08,580.000000,3.339500,3.300000,28.000000,0.000000,0.000000,0.000000,0.000000
75%,7.265283e+08,640.000000,3.627000,3.600000,33.000000,1.000000,0.000000,2.000000,2400.000000
max,9.999891e+08,770.000000,99.000000,4.000000,81.000000,1.000000,1.000000,10.000000,12000.000000

In [147]:
df['Application Created Date'] = pd.to_datetime(df['Application Created Date'])
df['Application Created Month'] = df['Application Created Date'].dt.month
df

,Reference ID,Record Created Date,Primary Inquiry Program,Primary Inquiry Term,Application Referral Source,Application Created Date,Application Status,Application Program,Application Start Term,Decisions Released Date,...,Sex,Intend to apply for financial aid,Applications Registered in Colleague,Applications Scholarship Tier - Admit,GPA (Recalculated) Category,GPA (Converted) Category,Tier Number,Scholarship Amount,Scholarship Category,Application Created Month
0,826319459,2018-10-19 13:17:00,Business Analytics - MSBA - Online Instruction,Spring 2024,SU Web Site,2016-10-14 00:00:00,Decided,Business Administration (Professional) - MBA,Fall 2017,2019-01-05 19:00:00,...,M,1,0,Not valid for Award,Unknown,Medium (2.5-3.5),NaN,NaN,Not valid for Award,10
1,295633352,2018-10-19 13:17:00,Business Analytics - MSBA,Fall 2018,No referral provided,2017-12-27 00:00:00,Decided,Business Analytics - MSBA,Fall 2018,2019-02-05 12:39:00,...,F,1,0,Not valid for Award,Unknown,Unknown,NaN,NaN,Not valid for Award,12
2,173111,2023-12-03 06:54:00,Business Administration (Professional) - MBA,Winter 2024,Graduate Programs Search,2023-12-03 06:56:00,Decided,Business Administration (Professional) - MBA,Winter 2024,2024-10-01 14:15:00,...,M,1,0,2023-G5 - $6000,Unknown,Unknown,5.0,6000.0,Awarded $4800-$7200,12
3,368489358,2018-10-19 13:04:00,Sport Business Leadership- MSBL,Summer 2017,No referral provided,2017-01-24 00:00:00,Decided,Sport Business Leadership- MSBL,Summer 2017,2019-02-05 12:47:00,...,M,1,0,Not valid for Award,Unknown,Unknown,NaN,NaN,Not valid for Award,1
4,490429256,2018-10-19 13:17:00,Accounting (Professional) - MPAC,Summer 2017,No referral provided,2017-09-03 00:00:00,Decided,Accounting (Professional) - MPAC,Summer 2017,2019-02-05 12:47:00,...,F,1,0,Not valid for Award,Unknown,Unknown,NaN,NaN,Not valid for Award,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10295,908406365,2018-10-19 13:04:00,"Nurse Practitioner, Family Nurse-Adult Geronto...",Summer 2024,No referral provided,2017-12-06 00:00:00,Decided,Business Administration - Bridge - MBA,Fall 2017,2019-02-05 13:02:00,...,F,1,0,2017-G0 - $0,Unknown,Unknown,0.0,0.0,Not awarded-$0,12
10296,999853619,2024-08-01 23:05:00,Early Career Masters of Business Administration,Fall 2024,Friend/Co-worker,2024-02-21 20:58:00,Decided,Early Career Masters of Business Administration,Fall 2024,2024-03-04 20:38:00,...,F,0,0,2024-G3 - $3600,Unknown,Medium (2.5-3.5),3.0,3600.0,Awarded $1200-$3600,2
10297,999911853,2021-04-22 15:09:00,Accounting (Professional) - MPAC,Fall 2021,Graduate Programs Search,2021-02-05 15:47:00,Awaiting Submission,Accounting (Professional) - MPAC,Fall 2021,NaN,...,M,1,0,Not valid for Award,Unknown,Unknown,NaN,NaN,Not valid for Award,2
10298,999954081,2021-09-26 19:35:00,Finance - MSF,Winter 2022,Campus Event,2021-09-26 19:36:00,Decided,Finance - MSF,Winter 2022,2022-01-18 11:30:00,...,M,0,0,Not valid for Award,Unknown,Medium (2.5-3.5),NaN,NaN,Not valid for Award,9
10299,999989052,2020-06-21 14:57:00,Accounting (Professional) - MPAC Advanced,Fall 2020,Friend/Co-worker,2020-06-21 14:58:00,Decided,Accounting (Professional) - MPAC Advanced,Fall 2020,2020-10-16 14:00:00,...,F,1,0,2020-G0 - $0,Medium (2.5-3.5),Medium (2.5-3.5),0.0,0.0,Not awarded-$0,6

In [148]:
df_decided = df[df['Application Status'] == 'Decided']

In [149]:
df_decided.describe(include='all')

/var/folders/kt/38rwnnp53dzcksmyzdb4mt580000gn/T/ipykernel_36658/2572764446.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_decided.describe(include='all')

,Reference ID,Record Created Date,Primary Inquiry Program,Primary Inquiry Term,Application Referral Source,Application Created Date,Application Status,Application Program,Application Start Term,Decisions Released Date,...,Sex,Intend to apply for financial aid,Applications Registered in Colleague,Applications Scholarship Tier - Admit,GPA (Recalculated) Category,GPA (Converted) Category,Tier Number,Scholarship Amount,Scholarship Category,Application Created Month
count,5.674000e+03,5674,5674,5674,5674,5674,5674,5674,5674,5674,...,5674,5674.000000,5674.000000,5674,5674,5674,3539.000000,3539.000000,5674,5674.000000
unique,NaN,5213,73,35,13,5501,1,24,30,3754,...,3,NaN,NaN,56,4,4,NaN,NaN,6,NaN
top,NaN,2018-10-19 13:17:00,Business Analytics - MSBA,Fall 2023,No referral provided,2018-10-30 00:00:00,Decided,Business Analytics - MSBA,Fall 2023,2023-03-10 16:55:00,...,M,NaN,NaN,Not valid for Award,Unknown,Unknown,NaN,NaN,Not awarded-$0,NaN
freq,NaN,219,1262,896,1439,21,5674,1287,897,217,...,2885,NaN,NaN,2135,3647,2453,NaN,NaN,2504,NaN
first,NaN,NaN,NaN,NaN,NaN,2015-10-20 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2024-12-03 22:29:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.625534e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.425978,0.246035,NaN,NaN,NaN,1.206273,1447.527550,NaN,6.196334
std,2.982462e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.494534,0.430737,NaN,NaN,NaN,2.114008,2536.809056,NaN,3.712412
min,1.731110e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,1.000000
25%,1.828356e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,3.000000
50%,4.522612e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,6.000000
75%,7.177842e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,0.000000,NaN,NaN,NaN,2.000000,2400.000000,NaN,10.000000
max,9.999891e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,1.000000,NaN,NaN,NaN,10.000000,12000.000000,NaN,12.000000

In [150]:
decision_reasons = [
    'Deposit - Not Required',
    'Admit Declined',
    'Admit Declined - Post Enroll(CF)',
    'Update Major - Post Decision',
    'Waitlist Invite',
    'Update Term - Post Decision',
    'Admit Regular',
    'Update Term & Major - Post Decision',
    'Admit Conditional',
    'Update Term - Post Enroll(CF)',
    'Waitlist Accepted',
    'Rejected - Waitlist Deny',
    'Decision Delayed',
    'Wailist Declined',
    'Deposit Paid',
    'No Show - Post Enroll(CF)',
    'Admit Probation',
    'Admit Conditional & Probationary',
    'Update Term & Major - Post Enroll(CF)',
    'Update Major - Post Enroll(CF)',
    'Deposit Waived/Not Required',
    'Admit Conditional & Bridge'
]
df_matriculate = df_decided[df_decided['Decision Reason'].isin(decision_reasons)]
df_matriculate['Decision Reason'].describe()

count                       4040
unique                        22
top       Deposit - Not Required
freq                        1601
Name: Decision Reason, dtype: object

In [151]:
df_matriculate['Matriculate'] = 0
df_matriculate.loc[df_matriculate['Applications Registered in Colleague'] == 0, 'Matriculate'] = 0
df_matriculate.loc[df_matriculate['Applications Registered in Colleague'] == 1, 'Matriculate'] = 1

/var/folders/kt/38rwnnp53dzcksmyzdb4mt580000gn/T/ipykernel_36658/3159650692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matriculate['Matriculate'] = 0

In [153]:
df_matriculate['GMAT'] = df_matriculate['Tests - GMAT Total'].notna().astype(int)
df_matriculate['GMAT'].describe()

/var/folders/kt/38rwnnp53dzcksmyzdb4mt580000gn/T/ipykernel_36658/4043897767.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matriculate['GMAT'] = df_matriculate['Tests - GMAT Total'].notna().astype(int)

count    4040.000000
mean        0.112871
std         0.316475
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: GMAT, dtype: float64

In [154]:
selected_columns = ['Application Referral Source', 'Application Program', 'Application Start Term', 
                    'Application Created Month',
                    'Decision Reason', 'Country', 'State', 'Visa Type', 'Age', 'Race', 'Sex', 
                    'Intend to apply for financial aid', 'GPA (Converted) Category', 
                    'Scholarship Category', 'GMAT', 'Matriculate']

df_model = df_matriculate.loc[:, selected_columns]

In [157]:
#WA:Seeing if applicant is from WA
df_model['WA'] = 0
df_model.loc[df_model['State'] == 'WA', 'WA'] = 1

In [158]:
#Country Category:
df_model['Country Category'] = 'Other Countries'
df_model.loc[df_model['Country'] == 'United States', 'Country Category'] = 'United States'
df_model.loc[df_model['Country'] == 'India', 'Country Category'] = 'India'
df_model.loc[df_model['Country'] == 'China', 'Country Category'] = 'China'
df_model.loc[df_model['Country'] == 'Nigeria', 'Country Category'] = 'Nigeria'
df_model

,Application Referral Source,Application Program,Application Start Term,Application Created Month,Decision Reason,Country,State,Visa Type,Age,Race,Sex,Intend to apply for financial aid,GPA (Converted) Category,Scholarship Category,GMAT,Matriculate,MSBA,WA,Country Category
2,Graduate Programs Search,Business Administration (Professional) - MBA,Winter 2024,12,Admit Declined - Post Enroll(CF),Nigeria,Federal Capital Territory,F-1 Student,30.0,Black or African American,M,1,Unknown,Awarded $4800-$7200,0,0,0,0,Nigeria
5,Friend/Co-worker,Finance - MSF,Spring 2024,2,Update Term - Post Enroll(CF),Nigeria,Enugu,F-1 Student,28.0,Black or African American,F,0,Unknown,Not awarded-$0,0,0,0,0,Nigeria
7,Web Advertisement,Business Administration (Professional) - MBA -...,Winter 2024,11,Deposit - Not Required,United States,WA,Incorrectly filled,36.0,White - Caucasian/European,M,1,Unknown,Not awarded-$0,0,1,0,1,United States
9,No referral provided,Finance - MSF,Fall 2018,7,Update Term - Post Decision,Ecuador,No State provided,F-1 Student,29.0,Unknown,M,1,Unknown,Not awarded-$0,0,0,0,0,Other Countries
10,SU Web Site,Finance - MSF,Fall 2021,3,Update Term - Post Enroll(CF),Iran,Tehran,F-1 Student,40.0,White - Persian,F,0,Medium (2.5-3.5),Not awarded-$0,0,0,0,0,Other Countries
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10289,Graduate Programs Search,Business Analytics - MSBA - Online Instruction,Fall 2022,3,Deposit - Not Required,United States,TX,Incorrectly filled,24.0,Asian - Vietnamese,F,0,Medium (2.5-3.5),Not awarded-$0,0,1,0,0,United States
10292,No referral provided,Finance Certificate,Summer 2018,4,Admit Declined,United States,WA,Incorrectly filled,33.0,Unknown,M,0,Unknown,Not valid for Award,1,0,0,1,United States
10295,No referral provided,Business Administration - Bridge - MBA,Fall 2017,12,Deposit - Not Required,United States,WA,Incorrectly filled,29.0,White - Caucasian/European,F,1,Unknown,Not awarded-$0,0,0,0,1,United States
10296,Friend/Co-worker,Early Career Masters of Business Administration,Fall 2024,2,Deposit Paid,United States,WA,F-1 Student,23.0,Asian - Vietnamese,F,0,Medium (2.5-3.5),Awarded $1200-$3600,0,0,0,1,United States
10299,Friend/Co-worker,Accounting (Professional) - MPAC Advanced,Fall 2020,6,Admit Declined,United States,GA,Incorrectly filled,25.0,Asian - Chinese,F,1,Medium (2.5-3.5),Not awarded-$0,0,0,0,0,United States

In [118]:
#Decision Tree for Matriculation
#Key finding1 for this Decision Tree: Applicants From WA are more likely to Matriculate
#Key finding2 for this Decision Tree: Applicants with Not Valid for ScholarShip are less likely to Matriculate
#Key finding3 for this Decision Tree: Applicants that don't have referral source are less likely to Matriculate
#Key finding4 for this Decision Tree: Applicants that are under 25(just graduated from university) are likely to Matriculate


X = df_model[['Application Referral Source',
 'Application Program',
 'Visa Type',
 'Age',
 'Race',
 'Sex',
 'Intend to apply for financial aid',
 'GPA (Converted) Category',
 'Scholarship Category',
 'GMAT',
 'Country Category',
 'WA']]
X_encoded = pd.get_dummies(X)
y = df_model['Matriculate']
clf = tree.DecisionTreeClassifier(max_depth=5,min_samples_leaf=10)
clf = clf.fit(X_encoded, y)
tree.export_graphviz(clf, out_file='matriculateDtree.dot',
feature_names=X_encoded.columns.tolist(), class_names=[str(cls) for cls in clf.classes_], filled=True)

In [122]:
#Decision Tree for Matriculation(Non-American)
#Key finding1 for this Decision Tree: Applicants who Matriculate their Scholarship Category are all non not Not valid for Award

df_model['American'] = 0
df_model.loc[df_model['Country'] == 'United States', 'American'] = 1
df_notUS = df_model[df_model['American'] != 1]
X = df_notUS[['Application Referral Source',
 'Application Program',
 'Visa Type',
 'Age',
 'Race',
 'Sex',
 'Intend to apply for financial aid',
 'GPA (Converted) Category',
 'Scholarship Category',
 'GMAT',
 'Country Category',
 'WA']]
X_encoded = pd.get_dummies(X)
y = df_notUS['Matriculate']
clf = tree.DecisionTreeClassifier(max_depth=5,min_samples_leaf=10)
clf = clf.fit(X_encoded, y)
tree.export_graphviz(clf, out_file='NotUSmatriculateDtree.dot',
feature_names=X_encoded.columns.tolist(), class_names=[str(cls) for cls in clf.classes_], filled=True)

In [110]:
#Decision Tree for Declined

df_model['Declined'] = 0
df_model.loc[df_model['Decision Reason'] == 'Admit Declined', 'Declined'] = 1
df_model.loc[df_model['Decision Reason'] == 'Admit Declined - Post Enroll(CF) ', 'Declined'] = 1
X = df_model[['Application Referral Source',
 'Application Program',
 'Visa Type',
 'Age',
 'Race',
 'Sex',
 'Intend to apply for financial aid',
 'GPA (Converted) Category',
 'Scholarship Category',
 'GMAT',
 'Country Category',
 'WA']]
X_encoded = pd.get_dummies(X)
y = df_model['Declined']
clf = tree.DecisionTreeClassifier(max_depth=3,min_samples_leaf=10)
clf = clf.fit(X_encoded, y)
tree.export_graphviz(clf, out_file='DeclinedDtree.dot',
feature_names=X_encoded.columns.tolist(), class_names=[str(cls) for cls in clf.classes_], filled=True)

In [115]:
#Decision Tree for data removing Desion Reason: Admit Declined & Admit Declined - Post Enroll(CF)
df_without_declined = df_model[df_model['Declined'] != 1]
X = df_without_declined[['Application Referral Source',
 'Application Program',
 'Visa Type',
 'Age',
 'Race',
 'Sex',
 'Intend to apply for financial aid',
 'GPA (Converted) Category',
 'Scholarship Category',
 'GMAT',
 'Country Category',
 'WA']]
X_encoded = pd.get_dummies(X)
y = df_without_declined['Matriculate']
clf = tree.DecisionTreeClassifier(max_depth=3,min_samples_leaf=10)
clf = clf.fit(X_encoded, y)
tree.export_graphviz(clf, out_file='WithoutDeclinedDtree.dot',
feature_names=X_encoded.columns.tolist(), class_names=[str(cls) for cls in clf.classes_], filled=True)

In [159]:
#Decision Tree for MSBA Matriculation
df_model['MSBA'] = 0
df_model.loc[df_model['Application Program'] == 'Business Analytics - MSBA', 'MSBA'] = 1
df_MSBA = df_model[df_model['MSBA'] == 1]
X = df_MSBA[['Application Referral Source',
 'Visa Type',
 'Age',
 'Race',
 'Sex',
 'Intend to apply for financial aid',
 'GPA (Converted) Category',
 'Scholarship Category',
 'GMAT',
 'Country Category',
 'WA']]
X_encoded = pd.get_dummies(X)
y = df_MSBA['Matriculate']
clf = tree.DecisionTreeClassifier(max_depth=3,min_samples_leaf=10)
clf = clf.fit(X_encoded, y)
tree.export_graphviz(clf, out_file='MSBADtree.dot',
feature_names=X_encoded.columns.tolist(), class_names=[str(cls) for cls in clf.classes_], filled=True)

In [125]:
#Decision Tree for MSBA Matriculation(Non-American)
df_notUS_MSBA = df_MSBA[df_MSBA['American'] != 1]
X = df_notUS_MSBA[['Application Referral Source',
 'Visa Type',
 'Age',
 'Race',
 'Sex',
 'Intend to apply for financial aid',
 'GPA (Converted) Category',
 'Scholarship Category',
 'GMAT',
 'Country Category',
 'WA']]
X_encoded = pd.get_dummies(X)
y = df_notUS_MSBA['Matriculate']
clf = tree.DecisionTreeClassifier(max_depth=3,min_samples_leaf=10)
clf = clf.fit(X_encoded, y)
tree.export_graphviz(clf, out_file='notUSMSBADtree.dot',
feature_names=X_encoded.columns.tolist(), class_names=[str(cls) for cls in clf.classes_], filled=True)